[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJfod/cocos-headers.git
[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
